body{
    background-image: url("../images/vintage-concrete.png");
    font-family: 'Pangolin', cursive;
}

.test{
    background-color: palegreen;
    width: 1100px;
    margin: auto;
    padding: 20px;
    height: 400px;
    text-align: center;

}

.timer{
    color: red;
    text-align: center;
}

.test_status{
    color:red;
    text-align: center;
}