h1{
    text-align: center;
}
.jumbotron{
    height: 700px;
}
.startBtn{
    width: 500px;
}
.btnContainer{
    margin-top: 150px;
    margin-left: 150px;
}
.quest{
    font-size: 20px;
}
.timeRem{
    font-size: 20px;
}
.questionInput{
    font-size: 30px;
    display: inline;
}
.corAnsw{
    font-size: 20px;
}
.gameOver{
    font-size: 20px;
}